@font-face {
    font-family: "REVX Italic";
    src: url('../Fonts/RevxNeueDemo-Italic.ttf') format('opentype');
}

@font-face {
    font-family: "REVX Regular";
    src: url('../Fonts/RevxNeueDemo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "REVX Semibold";
    src: url('../Fonts/RevxNeueDemo-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "REVX Semibol Italic";
    src: url('../Fonts/RevxNeueDemo-SemiBoldItalic.ttf') format('truetype');
}