.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2000;
    height: 80px;
    transition: 0.5s;
}

.scrolled {
    background-color: #020C15;
}

.navbar {
    display: flex;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: relative;
    margin-right: auto;
    margin-left: auto;  
}

.nav-item {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav-item:hover {
    color: red;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    position: absolute;
    background-color: #07071d;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
}

.bodyForgeLogo {
    margin-left: 3%;
    width: 400px;
    height: 50px;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 3px;
}

.header-buttons{
    margin-right: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-btn-icon {
    color: red;
    font-size: 17px;
}