@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #f0f4f8, #e6eff1);
  height: 100%;
}

header {
  height: 60px;
  z-index: 1000;
}

main {
  flex: 1;
}